.sidebar {
    background-color: #1e3a8a; /* Màu nền */
    color: white; /* Màu chữ */
  }
  .menu-item {
    padding: 10px; /* Khoảng cách padding cho menu item */
    text-decoration: none; /* Xóa gạch chân */
    color: white; /* Màu chữ của menu item */
  }
  .menu-item:hover {
    background-color: #3b82f6; /* Màu nền khi hover */
  }
  .active {
    font-weight: bold;
    background-color: #f3f3f3; /* Làm đậm chữ cho menu item đang được chọn */
  }